altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dlib
et_xmlfile
face-recognition
face_recognition_models
Flask
fonttools
gitdb
GitPython
idna
itsdangerous
Jinja
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
opencv-python
openpyxl
packaging
pandas
patsy
pillow
plotly
plotly-express
protobuf
pyarrow
pydeck
Pygments
PyMySQL
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scipy
seaborn
setuptools
six
smmap
statsmodels
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
uv
watchdog
Werkzeug
